<div class="main_wrapper">
	<div class="main_inner">
    <h1>投稿内容</h1>
    <p>投稿者：<%= @micropost.user.name %></p>
    <p>投稿日：<%= @micropost.created_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
    <b><%= @micropost.content %></b>

    <% flash.each do |message_type, message| %>
      <div class="alert-<%= message_type %>"><%= message %></div>
    <% end %>
    
    <div class="comment_form_box">
      <section class="comment_form_section">
        <%= render 'shared/comment_form' %>
      </section>
    </div>

    <h2>コメント一覧</h2>
    <% if @comments.total_entries.zero? %>
      コメントはありません。
    <% else %>
      <ol class="comments">
        <%= render @comments %>
      </ol>
      <%= will_paginate @comments %>
    <% end %>
  </div>
</div>