<h1><%= @user.name %></h1>
 <span><%= link_to "マイページ", @user %></span>
 <%= @user.microposts.count %>
 <%= render 'shared/stats' %>
 <% if @users.any? %>
    <% @users.each do |user| %>
      <%= link_to user.name, user %>
    <% end %>
<% end %>

<% if @users.any? %>
  <ul>
    <%= render @users %>
  </ul>
  <%= will_paginate %>
<% end %>