<li id="comment-<%= comment.id %>" class="comment">
  <div class="comment_info_wrapper">
    <span class="comment_user_icon"></span>
    <div class="comment_info">
      <button class="link-button" onclick="location.href='<%= user_path(comment.user) %>'">
        <%= comment.user.name %>
      </button>
      <span class="comment_timestamp">
        投稿日：<%= time_ago_in_words(comment.created_at) %>
      </span>
    </div>
  </div>
  <span class="comment_content">
    <%= comment.content %>
  </span>
    <% if current_user?(comment.user) %>
      <%= link_to "コメント削除", micropost_comment_path(comment.micropost, comment), data: { "turbo-method": :delete, turbo_confirm: "コメントを削除してもよろしいですか?" } %>
   <% end %>
</li>
