<!DOCTYPE html>
<html>
  <head>
    <title>プロード</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="wrapper">
      <div class="contents">
        <%= render 'layouts/header' %>
        <main>
		      <%= yield %>
          <%= debug(params) if Rails.env.development? %>
        </main>
      </div>
    </div>
	</body>
</html>
